<ion-header>
  <ion-navbar>
    <ion-title>
      Login
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <div id="login-heading2">
    BK Hydroponic
  </div>
  <div class="spacer" id="login-spacer1"></div>
  <form id="login-form5" #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <ion-item id="login-input4">
      <ion-label></ion-label>
      <ion-input required type="email" id="email" name="email" placeholder="Email" #email="ngModel" ngModel></ion-input>
      <div *ngIf="email.errors && (email.dirty || email.touched)" class="alert alert-danger">
        <div *ngIf="email.errors.required">
          Email is required.
        </div>  
      </div>
    </ion-item>
    <ion-item id="login-input5">
      <ion-label></ion-label>
      <ion-input required type="password" name="password" placeholder="Password" #password="ngModel" ngModel></ion-input>
    </ion-item>
    <div class="spacer" id="login-spacer2"></div>
    <button round type="submit" id="login-button2" ion-button color="secondary" block class="btn">
        Login
    </button>    

  </form>

</ion-content>