#login-heading2{
    color:#13690F;
    text-align:center;
    font-size: 2em;
    font-weight: 450;
}

#login-spacer1{
    width:300px;
    height:50px;
}

#login-spacer2{
    width:300px;
    height:30px;
}

#login-button2{
    font-size:1em;
}