<ion-header>
    <ion-navbar>
        <ion-title>
            Actuator List
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div text-center>
        <button ion-button block color="primary" round (click)="goToAddActuatorPage()">Add new actuator</button>
    </div>
    <div>
        <ion-grid id="info-table">
            <div class="table-header">
                <ion-row>
                    <ion-col>
                        <span>Type</span>
                    </ion-col>
                    <ion-col>
                        <span>Auto</span>
                    </ion-col>
                    <ion-col>
                        <span>Active</span>
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="actuatorList" class="table-content">
                <ion-row *ngFor="let actuator of actuatorList" class="actuator-row" (click)="goToSchedulePage(actuator)">
                    <ion-col>
                        {{actuator.type}} {{actuator.idonboard.toString()[1]}}
                    </ion-col>
                    <ion-col>
                        <button *ngIf="actuator.mode === 'auto'" (click)="changeMode(actuator)" class="custome btn btn-success">On</button>
                        <button *ngIf="actuator.mode !== 'auto'" (click)="changeMode(actuator)" class="custome btn btn-danger">Off</button>
                    </ion-col>
                    <ion-col>
                        <button [disabled]="actuator.mode === 'auto'" *ngIf="actuator.status === 'on'" (click)="changeStatus(actuator)" class="custome btn btn-success">On</button>
                        <button [disabled]="actuator.mode === 'auto'" *ngIf="actuator.status !== 'on'" (click)="changeStatus(actuator)" class="custome btn btn-danger">Off</button>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
</ion-content>