#device-heading7 {
    color:#13690F;
    text-align:center;
    font-size: 2em;
}

#device-heading8, #device-heading10 {
    font-size: 1.6em;
}

#device-container3{
    font-size: 1.4em;
    font-weight:300;
    margin-left: 15px;
}
#info-table{
    text-align: center;
    font-weight: 500;
    color: #007acc;
}

#btn-control-start{
    background-color: #007acc;
}

.danger-info{
    color: #e62e00;
}

#btn-control-stop{
    background-color: #e62e00;
}