<ion-header>
  <ion-navbar>
    <ion-title>
      Device
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center>
    <button ion-button block color="primary" round (click)="goToAddCropPage()">Add new crop</button>
    <button (click)="goToActuatorListPage()" block round ion-button>Actuator list</button>
  </div>
  <div id="device-heading7">
    {{name}}
  </div>
  <div *ngIf="cropList">
    <ion-list>
      <div *ngFor="let crop of cropList" (click)="goToCropPage(crop)" style="margin-left: 10px">
        <div id="devider1" class="devider"></div>
        <ion-grid>

          <ion-row>
            <div id="home-heading4">
              {{crop.name}}
            </div>
          </ion-row>

          <ion-row>
            <div id="home-heading5">
              Status: {{crop.status}}
            </div>
          </ion-row>

        </ion-grid>
        <div id="devider2" class="devider"></div>
      </div>
    </ion-list>
  </div>
  <ion-fab bottom right>
      <button ion-fab color="danger" (click)="deleteDevice()">
          <ion-icon name="trash"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab bottom left>
      <button ion-fab color="primary" (click)="goToSmartConfigPage()">
          <ion-icon name="settings"></ion-icon>
      </button>
  </ion-fab>

</ion-content>