<ion-header>
  <ion-navbar>
    <ion-title>
      Device
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <div text-center>
    <button ion-button block color="primary" round (click)="goToAddCropPage()">Add new crop</button>
    <button (click)="goToActuatorPage()" block round ion-button>Actuator list</button>
  </div>
  <div id="device-heading7">
    {{name}}
  </div>
  <div *ngIf="cropList">
    <ion-list>
      <div *ngFor="let crop of cropList" (click)="goToCropPage(crop.id)" style="margin-left: 10px">
        <div id="devider1" class="devider"></div>
        <ion-grid>

          <ion-row>
            <div id="home-heading4">
              {{crop.name}}
            </div>
          </ion-row>

          <ion-row>
            <div id="home-heading5">
              Start date: {{crop.startdate | date: 'MM/dd/yyyy HH:mm:ss'}}
            </div>
          </ion-row>

          <ion-row>
            <div id="home-heading5">
              Close date: {{crop.closedate | date: 'MM/dd/yyyy HH:mm:ss'}}
            </div>
          </ion-row>

          <ion-row>
            <div id="home-heading5">
              Tree type: {{crop.treetype}}
            </div>
          </ion-row>

          <ion-row>
            <div id="home-heading5">
              Hydroponic type: {{crop.type}}
            </div>
          </ion-row>

          <ion-row>
            <div id="home-heading5">
              Status: {{crop.status}}
            </div>
          </ion-row>

        </ion-grid>
        <div id="devider2" class="devider"></div>
      </div>
    </ion-list>
  </div>


</ion-content>