<ion-header>
  <ion-navbar>
    <ion-title>
      Device
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding id="page4">
  <div id="device-heading7">
    {{name}}
  </div>
  <div *ngIf="crop">
    <div id="device-heading10">
      Running crop: {{crop.name}}
    </div>
    <div id="device-container3">
      <span id="device-heading12">
        Crop type: {{crop.type}}
      </span>
      <br>
      <span id="device-heading14">
        Tree type: {{crop.treetype}}
      </span>
      <br>
      <span id="device-heading9">
        Start date: {{crop.startdate | date: 'dd/MM/yyyy hh:mm:ss'}}
      </span>
      <br>
      <span id="device-heading11">
        Close date: {{crop.closedate | date: 'dd/MM/yyyy hh:mm:ss'}}
      </span>
      <br>
      <span id="device-heading13">
        Latest data:
        <span *ngIf="data">{{data.createdAt | date: 'dd/MM/yyyy hh:mm:ss'}}</span>
      </span>
      <ion-grid *ngIf="data" id="info-table">
        <ion-row>
          <ion-col>
            <div [class.danger-info]="dataStatus.badStatus.temp">
              <span>Temperature</span>
              <br>
              <span class="threshold">({{threshold.temperatureLower}} - {{threshold.temperatureUpper}})</span>
              <br>
              <span>{{data.temperature}} °C</span>
            </div>
          </ion-col>
          <ion-col>
            <div [class.danger-info]="dataStatus.badStatus.humidity">
              <span>Humidity</span>
              <br>
              <span class="threshold">({{threshold.humidityLower}} - {{threshold.humidityUpper}})</span>
              <br>
              <span>{{data.humidity}} %</span>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <div [class.danger-info]="dataStatus.badStatus.ppm">
              <span>ppm</span>
              <br>
              <span class="threshold">({{threshold.ppmLower}} - {{threshold.ppmUpper}})</span>
              <br>
              <span>{{data.ppm}}</span>
            </div>
          </ion-col>
          <ion-col>
            <div [class.danger-info]="dataStatus.badStatus.ph">
              <span>pH</span>
              <br>
              <span class="threshold">({{threshold.phLower}} - {{threshold.phUpper}})</span>
              <br>
              <span>{{data.ph}}</span>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

      <button *ngIf="crop.status !== 'running'" (click)="startDevice()" round id="btn-control-start" ion-button block>
        Start this device
      </button>

      <button *ngIf="crop.status === 'running'" (click)="stopDevice()" round id="btn-control-stop" ion-button block>
        Stop this device
      </button>

      <button (click)="goToActuatorPage()" round ion-button block>
        Actuator list
      </button>
    </div>
  </div>


</ion-content>