<ion-header>
    <ion-navbar>
        <ion-title>
            Add new actuator
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <div class="spacer" id="add-actuator-spacer1"></div>
    <form #addActuatorForm="ngForm" (ngSubmit)="addActuator(addActuatorForm.value)">

        <ion-item>
            <ion-label>Actuator type</ion-label>
            <ion-select require name="type" #name="ngModel" ngModel>
                <ion-option *ngFor="let type of actuatorType" [value]="type.type">
                    {{type.type}}
                </ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Available ID</ion-label>
            <ion-select require name="idonboard" #name="ngModel" ngModel>
                <ion-option *ngFor="let actuator of availableActuator | actuatorTypeFilter: {type: addActuatorForm.value.type}" [value]="actuator.availableId">
                    {{actuator.availableId.toString()[1]}}
                </ion-option>
            </ion-select>
        </ion-item>

        <!-- <ion-item>
            <ion-label>Priority</ion-label>
            <ion-select require name="priority" #name="ngModel" ngModel>
                <ion-option *ngFor="let priority of actuatorPriority" [value]="priority">
                    {{priority}}
                </ion-option>
            </ion-select>
        </ion-item> -->
        <div class="spacer" id="add-actuator-spacer2"></div>
        <button round type="submit" ion-button color="secondary" block class="btn">
            Add
        </button>
    </form>
</ion-content>