<ion-header>
    <ion-navbar>
        <ion-title>
            Schedule of {{actuator.type}} {{actuator.idonboard.toString()[1]}}
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-refresher (ionRefresh)="refresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <div text-center>
        <button [disabled]="synchronized" (click)="syncScheduleToDevice()" ion-button>Send schedule to device</button>
    </div>

    <div id="schedule-heading">
        Schedule
    </div>
    <div>
        <ion-grid id="info-table">
            <div class="table-header">
                <ion-row>
                    <ion-col>
                        <span>Start</span>
                    </ion-col>
                    <ion-col>
                        <span>Stop</span>
                    </ion-col>
                    <ion-col>
                        <span>Interval</span>
                    </ion-col>
                    <ion-col>
                        <span>Delay</span>
                    </ion-col>
                    <ion-col>
                        <span>Action</span>
                    </ion-col>
                </ion-row>
            </div>
            <div *ngIf="scheduleList" class="table-content">
                <ion-row *ngFor="let schedule of scheduleList" class="schedule-row">
                    <ion-col>
                        {{schedule.starttime}}
                    </ion-col>
                    <ion-col>
                        {{schedule.endtime}}
                    </ion-col>
                    <ion-col>
                        {{schedule.intervaltime}} s
                    </ion-col>
                    <ion-col>
                        {{schedule.delaytime}} s
                    </ion-col>
                    <ion-col>
                        <ion-icon (click)="deleteSchedule(schedule.id)" name="trash" color="danger"></ion-icon>
                    </ion-col>
                </ion-row>
            </div>
        </ion-grid>
    </div>
    <ion-fab bottom right>
        <button ion-fab (click)="goToAddSchedulePage()">Add</button>
    </ion-fab>
</ion-content>