.table-header{
    font-size: 1.4em;
    color: black;
}

.table-content{
    font-size: 1.2em;
    font-weight:300;
}

.custome {
    font-size: 1em;
}

.actuator-row {
    padding-top: 5px;
    padding-bottom: 5px;  
}